body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #27485f;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 26px;
    border-radius: 13px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #3498db;
    font-size: 33px;
    margin-bottom: 15px;
}

textarea {
    width: 80%;
    height: 120px;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 7px;
    font-size: 1em;
}

button {
    padding: 13px 25px;
    background-color: #2980b9;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #1f6696;
}
